{% extends "base.html" %}
{% block title %}
    Gems
{% endblock %}
{% block content %}
    <div class="row">
        {% for gem in gems %}
            <div class="gem_container">
                <div class="name">
                    {{ gem.name }}
                </div>
                <div class="image">
                    <img src="/static/images/{{ gem.image | default:"dfav.png" }}">
                </div>
                {{ gem.category.name }}
            </div>
        {% endfor %}
    </div>
{% endblock %}