{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ category.name }}{% endblock %}
{% block categories %}
            <div class="list-group">
                <a href="{% url 'main' %}" class="list-group-item">Главная</a>
                {% for cat in categories %}
                    {% if cat.name == category.name %}
                        <a href="{{cat.id}}" class="list-group-item active">{{cat.name}}</a>
                    {% else %}
                        <a href="{{cat.id}}" class="list-group-item">{{cat.name}}</a>
                    {% endif %}
                {% endfor %}
            </div>
{% endblock %}
{% block content %}
    {% load four_in_row %}
        <p class="p3"><h4>{{ object.name }}</h4></p>
        <p align="justify">{{ object.description }}</p>

        <div class="block">
             <div class="row">
            {% for item in items %}
            {% is_fourth forloop.counter0 as new_row %}
                    {% if new_row %}
             </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <img src="{{item.preview.url}}">
                        <a href="{% url 'item' item.id %}"><br>{{item.name}}</a>
                        <br>({{item.article}}
                        <br><b>{{item.price}} руб.</b>
                    </div>
                    {% else %}
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <img src="{{item.preview.url}}">
                        <a href="{% url 'item' item.id %}"><br>{{item.name}}</a>
                        <br>({{item.article}})
                        <br><b>{{item.price}} руб.</b>
                    </div>
                    {% endif %}
            {% endfor %}
                 </div>
        </div>
{% endblock %}
</body>
</html>