{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/jumbotron-narrow.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
    <script src="{% static '/js/bootstrap.js' %}" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<div class="container">
    <h3 class="text-muted">Моя персональная страница</h3>
    <div class="header">
        {% block menu %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        {% block footer %}
        <p>&copy; Островский В.А. 2017 г.</p>
        {% endblock %}
    </div>
</div> <!-- /container -->
</body>
</html>