{% extends 'index.html' %}
{% load staticfiles %}
{% block menu %}
<ul class="list-unstyled">
    <li><a href="{% url 'about:home' %}">Обо мне</a></li>
    <li class="active"><a href="#">Работа</a></li>
    <li><a href="{% url 'about:study' %}">Образование</a></li>
</ul>
{% endblock %}
{% block content %}
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Работа</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Руководитель отдела технической поддержки</h3>
                            <div class="time">Сентябрь 2013 - Июнь 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.bifit.com" target="_blank">www.bifit.com</a> БИФИТ, Москва</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Управление отделом внедрения (до 15 чел). Постановка задач, контроль</li>
                            <li>Создание и внедрение системы мотивации сотрудников отдела</li>
                            <li>Разработал систему учета действий сотрудников отдела (Bootle, MySQL, Javascript, jQuery, Bootstrap)</li>
                            <li>Участие в процессах продаж, от первичных переговоров с клиентами, до окончания процесса внедрения ДБО iBank2(процесс подключения клиентов банков к новой системе ДБО)</li>
                            <li>Проведение собеседований с потенциальными сотрудниками</li>
                            <li>Участие в ежегодных специализированных мероприятиях выставки, форумы(iFin, ВБА). Организация технической части. Переговоры с клиентами</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Инженер отдела внедрения и сопровождения</h3>
                            <div class="time">Март 2012 - Сентябрь 2013</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://www.bifit.com" target="_blank">www.bifit.com</a> БИФИТ, Москва</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Консультация банковских сотрудников по вопросам работы ДБО iBank2. Работа в ServiceDesk Naumen</li>
                            <li>Выявление ошибок в работе ПО и занесение их на bugtrack(Mantis)</li>
                            <li>Анализ ошибок по stack trace, с последующим выявлением их в коде(Java, BeanShell)</li>
                            <li>Внедрение продукта в банки с "0"</li>
                            <li>Установка и настройка Демостендов для тестирования и ознакомления с функционалом ДБО Банками</li>
                            <li>Консультация банков по подбору аппаратной конфигурации для развертывания системы с учетом количества планируемых клиентов(юр. лиц и физ.лиц)</li>
                            <li>Консультация по интеграции с АБС(Инверсия XXI Век, Diasoft WF/4x4/5NT/FA#, RS-Bank 5.5), помощь в установке и настройке модуля интеграции</li>
                            <li>Помощь в интеграции с Процессингами на OpenWay и SmartVista</li>
                            <li>Помощь в интеграции с Платежными Системами(CyberPlat, E-port, Rapida)</li>
                            <li>Проведение слияния БД, в том числе и между различными СУБД(MSSQL, PostgreSQL, ORACLE)</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Начальник Информационно-Технического отдела</h3>
                            <div class="time">Март 2011 - Январь 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.yusin.ru" target="_blank">www.yusin.ru</a> ЗАО "ЮСИН", Москва</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Планирование, организация и контроль выполнения задач сотрудниками IT отдела(3 человека)</li>
                            <li>Планирование и исполнение IT бюджета</li>
                            <li>Реализация проекта по внедрению АСУ</li>
                            <li>Успешно реализованный проект по слиянию двух агентств (перенос данных в единое информационное пространство, миграция с рабочих станций на тонкие клиенты)</li>
                            <li>Лицензирование ПО и переход на свободно-распространяемое ПО</li>
                            <li>Работа с серверными ОС (Windows 2003/2008R2, FreeBSD)</li>
                            <li>Виртуализация серверов на платформе VMware ESXi(Windows 2003/2008R2)</li>
                            <li>Обеспечение бесперебойного резервного копирования данных и его мониторинг</li>
                            <li>Составление технических заданий для последующей модернизации и исправления АСУ</li>
                            <li>Администрирование системы внутреннего электронного документооборота (Firebird)</li>
                            <li>Монтаж, настройка и сопровождение ЛВС</li>
                            <li>Настройка активного оборудования: маршрутизаторы, управляемые коммутаторы, беспроводные точки доступа, VOIP-маршрутизаторы (3COM, D-Link, Linksys, AudioCodes, Vegastream)</li>
                            <li>Диагностика и настройка серверов, рабочих станций и тонких клиентов</li>
                            <li>Подготовка технологической части для проведения презентаций АСУ потенциальным заказчикам, проведение презентации в роли докладчика и респондента по техническим вопросам</li>
                            <li>Ведение переговоров с поставщиками оборудования, разработчиками ПО, провайдерами интернет и телефонии</li>
                        </ul>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ведущий Технический Специалист ИТ отдела</h3>
                            <div class="time">Март 2011 - Январь 2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.mibis.ru" target="_blank">www.mibis.ru</a> ООО "ЦИТ Консультант", Москва</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Техническая поддержка клиентов: выезд на объекты для реализации глобальных проектов (лицензирование серверного ПО, переход на свободно-распространяемое серверное ПО семейства *nix, развертывание Windows Domain Network на базе 2003/2008(R2)),управление группой технических специалистов ( 5 человек), контроль за исполнением их работ и возникающих при этом конфликтных ситуаций, удаленное решение технических вопросов</li>
                            <li>Установка и настройка *nix ОС: Ubuntu, FreeBSD, Untungle</li>
                            <li>Установка и настройка ОС семейства Windows (2003/2008(R2)) Настройка firewalls: iptables, pf, ipfw, ISA, Kerio Control</li>
                            <li>Настройка LAMP серверов. Настройка удаленного доступа для сотрудников компаний ( MPD5 на FreeBSD, Kerio VPN, RDP)</li>
                            <li>Настройка файл-серверов *nix (Samba) и Windows</li>
                            <li>Настройка AD, DNS и групповых политик</li>
                            <li>Настройка FTP серверов *nix (Proftpd с авторизацией по MySQL) и Windows</li>
                            <li>Установка и настройка прокси-сервера Squid</li>
                            <li>Настройка активного оборудования: маршрутизаторов (D-Link, Trendnet, 3COM, Linkysys), управляемых коммутаторов (3COM, D-Link), беспроводных точек доступа (D-Link,Linksys), VOIP маршрутизаторов (Vega, AudioCodes, Linksys)</li>
                            <li>Составление коммерческих предложений на поставку оборудования, предоставление услуг по установке и настройке оборудования, монтажу СКС</li>
                            <li>Разработка и реализация проектов по внедрению различных ИТ-решений для клиентов (IP-телефония, видеонаблюдение и т.д.), контроль за качеством выполнения, последующее обслуживание и модернизация ИТ-инфраструктуры заказчиков</li>
                        </ul>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Технический Специалист ИТ отдела</h3>
                            <div class="time">Октябрь 2008 - Март 2010</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.mibis.ru" target="_blank">www.mibis.ru</a> ООО "ЦИТ Консультант", Москва</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Техническая поддержка клиентов: выезд на объекты, решение конфликтных ситуаций с субподрядчиками клиентов, удаленное решение технических вопросов</li>
                            <li>Настройка активного оборудования: маршрутизаторы, управляемые коммутаторы, беспроводные точки доступа, сетевые адаптеры</li>
                            <li>Настройка удаленного доступа до оборудования клиентов: Radmin, RealVNC,RDP,VPN</li>
                            <li>Администрирование клиентских ОС семейства Windows (2000, XP, Vista , 7)</li>
                            <li>Настройка резервного копирования данных</li>
                            <li>Настройка периферийного оборудования (принтеры, копиры, сканеры)</li>
                            <li>Настройка ПО: Microsoft Office, 1С, Консультант, почтовых клиентов (Outlook, The Bat, Thunderbird), специализированного ПО для работы с недвижимостью, пакет дизайнерского ПО (Corel Draw, Adobe Photoshop, Adobe Illustrator и т.д.), ГАРАНТ, браузеров (Firefox, Chrome, Opera, IE). Монтаж СКС на объектах до 150 рабочих мест(3 этажа)</li>
                            <li>Подготовка ПК и серверов полный цикл: составление коммерческого предложения, закупка, сборка, установка и настройка оборудования на площадке клиента</li>
                            <li>Взаимодействие с ИТ отделами головных офисов международных компаний</li>
                        </ul>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
{% endblock content %}