{% extends "category.html" %}
{% load staticfiles %}
{% block categories %}
<div class="list-group">
    <a href="{% url 'main' %}" class="list-group-item">Главная</a>
    {% for cat in categories %}
    {% if cat.name == item.category.name %}
    <a href="{{cat.link}}" class="list-group-item active">{{cat.name}}</a>
    {% else %}
    <a href="{{cat.link}}" class="list-group-item">{{cat.name}}</a>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
{% block content %}

<h2> {{ item.name }} </h2>
<span class="article">{{item.article}}</span>
<span class="price">{{ item.price }} руб.</span>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p align="justify">{{ item.description }}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img src="{{item.image.url}}">
    </div>
</div>


{% endblock %}
</body>
</html>